.box {
  width: 29%;
  background-color: rgb(59, 58, 58);
  margin-right: 2%;
  padding: 10px;
  border-radius: 15px;
}
.box p {
  font-size: 15px;
  color: white;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box h4 {
  color: white;
  margin-left: 20px;
}
.box h4 span {
  color: springgreen;
  font-size: 12px;
}
